[2013-02-16 08:02] hueniverse opened #3 "Automatically parse chunked payload"
res.readPayload() returns the raw payload. If the transport is chunked, the payload includes the raw size-bytes information. Need to automatically parse it and return the clean payload.

[2013-03-08 17:47] WillCodeCo opened #4 "readPayload() for GZipped binary in buffer"
I am injecting a request and receiving a response such that self.output[1] is a Buffer of binary data (the HTTP server is GZipping the data).

Here is the offending code in shot:

[code]

Problem is that when I do readPayload() I get a string representation of that buffer.

This would normally be fine, as you think that I could just recreate a Buffer using the string, but since it has been encoded

[2013-03-08 18:27] #4 closed, assigned to nobody

[2013-04-07 23:14] #3 closed, assigned to nobody

[2013-07-03 17:50] iamdoron opened #7 "deprecated encoding 'binary' is used"
in [here](https://github.com/spumko/shot/blob/master/lib/index.js#L190):
[code]
from node [buffer documentation](http://nodejs.org/api/buffer.html):

I was also wondering what happens to the returned payload, since its original encoding may be different.
I would expect something similar to:

[code]

(for example, the default utf8 encoding will be returned)

[2013-09-18 15:17] paulfryzel opened #8 "Support multipart requests"
While shot currently supports POST and an object-based payload, the ability to inject multipart requests doesn't seem to be supported. As a use-case, my personal interest in this functionality is specifically for testing file uploads (as multipart/form-data).

[2013-09-29 23:32] #8 closed, assigned to nobody

[2014-02-25 21:32] hueniverse opened #9 "Support node 0.11"

[2014-02-25 21:33] #9 closed, assigned to hueniverse

[2014-03-08 19:46] hueniverse opened #10 "Bring coverage back to 100% after lab fix"

[2014-03-08 19:47] #10 closed, assigned to hueniverse

[2014-04-27 06:24] hueniverse opened #11 "Bring coverage back to 100%"

[2014-05-01 21:10] #11 closed, assigned to hueniverse

[2014-08-13 17:26] seanmonstar opened #13 "return Stream from Shot.inject()"
It'd be nice if I could pipe the stream into some other testing utilities instead of waiting for the request to completely finish.

In my case, it'd be nice with `nock`:

[code]

[2014-08-13 22:52] #13 closed, assigned to nobody

[2014-09-05 21:21] hueniverse opened #14 "lab 4.0"

[2014-09-05 21:22] #14 closed, assigned to hueniverse

[2014-09-22 21:43] arb opened #16 "Clean up Test Verbiage"
Remove and clean up `describe` block.

Related to: https://github.com/hapijs/shot/pull/15

[2014-09-23 16:47] #16 closed, assigned to arb

[2014-11-28 22:44] arb opened #21 "Testing Updates"
- Update to lab 5
- Update to code 1
- Add `-a code` to the Makefile
- Add `-L` to the Makefile

[2014-12-11 01:29] phated opened #22 "Use hoek to assign defaults to options passed to inject"
Currently, if method isn't defined on the options passed in, it assigns a `method` property as `'GET'`.  This should be done using hoek (or some simpler form) so it doesn't mutate the incoming options object.

[2015-02-18 07:31] d10 commented on #22
:+1: Any updates?

[2015-02-19 23:21] hueniverse commented on #22
@chrisdickinson ?

[2015-02-19 23:26] #22 closed

[2015-02-22 21:39] AdriVanHoudt commented on #21
* replace Makefile with npm scripts?

[2015-03-02 14:24] johnbrett commented on #21
Hey guys, is there any more work needed on this to close it? I can replace is the makefile with npm scripts if it's wanted?

[2015-03-02 14:37] AdriVanHoudt commented on #21
It was mentioned somewhere to do this (can't find it anymore) also you might want to add `-L` to all test cases not only `test-cov`?

[2015-03-03 13:40] johnbrett commented on #21
@AdriVanHoudt I don't know if there's any consensus on whether npm scripts or Makefiles are used - I don't mind either way, happy to go with npm scripts if that's what's preferred. I checked the other repos and it's near on 50/50 whether they use a Makefile or not so I don't see any pattern, does it come down to the module maintainer in that case @chrisdickinson?

[2015-03-03 13:47] AdriVanHoudt commented on #21
@johnbrett maybe someone else can find the issue but I think the other 50% is just not updated yet but idd let's wait for maintainer to give a (no) go

[2015-03-03 13:53] lloydbenson commented on #21
I think it was this:

https://github.com/hapijs/contrib/issues/14

[2015-03-03 14:23] AdriVanHoudt commented on #21
@lloydbenson jup that was it thanks!

[2015-03-04 11:14] johnbrett commented on #21
Ok I replaced the Makefile with npm scripts, thanks @AdriVanHoudt @lloydbenson!

[2015-03-05 22:45] chrisdickinson commented on #21
This should be resolved as of v1.4.2.

[2015-03-05 22:45] #21 closed

[2015-03-16 16:26] Marsup commented on #7
@geek I've ~~wasted~~ spent 2 days on this problem, I'd appreciate either a fix or an advice on how to go about it.

Using a template (`reply.view`) having accentuated characters and using `server.inject` from hapi, `prénom` becomes `prÃ©nom` in `response.result`. While it would be OK in `response.payload` because it is supposed to be binary (which I didn't know and it being a string doesn't help

[2015-03-16 19:45] geek commented on #7
Does the same test pass if you start the server and make a real request?

[2015-03-16 22:23] Marsup commented on #7
Yes, the characters are perfectly fine in a real browser.

[2015-03-17 00:34] d10 commented on #7
:+1: for this. I’ve encountered the same issue, and had to use `res.rawPayload.toString('utf8')` to get my tests to past. This really confused me at the start, and I’m sure others will be confused too.

[2015-03-27 17:57] Marsup commented on #7
@chrisdickinson do you have an opinion about that ?

[2015-04-09 16:37] aredridel opened #29 "Failure on 0.10 with Express 3.20"
With this test:

[code]

I get

[code]

[2015-04-09 23:29] Marsup commented on #29
I'm not sure `app` can be called with req/res, maybe the router ? I don't think express let's you access that.

[2015-04-14 20:13] hueniverse commented on #29
I don't know what `app` is (I don't use express) but it is expecting the dispatch function as shows in the examples. This was only tested against bare node and hapi. I'll leave this open in case you want to dig into how to get the same dispatch function express is creating internally and passing to the node HTTP server. I'll close it in a bit if inactive.

[2015-04-14 20:22] dougwilson commented on #29
Hi @hueniverse I think you can probably close this, as I believe this is an issue with Express, rather than with `shot`. @aredridel do you agree with that assessment?

[2015-04-14 20:26] aredridel commented on #29
Yeah, I think that's fair. Express is definitely doing unsavory contortions here.

[2015-04-14 20:35] hueniverse commented on #7
I took over the module for now. What's the question again?

[2015-04-15 08:35] Marsup commented on #7
@hueniverse when you use `server.inject` in hapi, you get a `res.payload` that looks like a string you'd get from the server as a client, when in fact it's the binary form of that string. (eg. if I reply `éèàù` I get `Ã©Ã¨Ã Ã¹` as payload)
I don't want to `new Buffer(res.payload, 'binary').toString('utf8')` everywhere in my tests "just in case".

[2015-04-21 08:25] hueniverse commented on #7
We can add another property on `res` that will include the `utf8` encoded version. Would that solve it? I am concerned about a breaking change.

[2015-04-21 08:38] d10 commented on #7
That seems great! :+1:

[2015-04-21 08:43] Marsup commented on #7
This looks like a bug to me, can you explain the documentation `(e.g. when not a stream or a view)` ? If I reply the same string from a handler it works, if from a view it doesn't, why ?

[2015-05-21 19:09] hueniverse commented on #7
@Marsup what documentation?

[2015-05-21 21:45] Marsup commented on #7
@hueniverse Look for that specific sentence in hapi's docs, it's in server.inject.

[2015-06-04 15:20] #7 closed

[2015-06-05 11:36] hueniverse opened #33 "Inconsistent assignment of rawPayload"

[2015-06-05 11:39] #33 closed

[2015-06-09 23:42] merrihew commented on #7
We've encountered an issue that have been tracked down to this set of changes to `shot`, specifically `payloadBuffer.toString()` in d9dd737a2cf91d47849f670a67df5cece73067d3 ([commit diff](https://github.com/hapijs/shot/commit/d9dd737a2cf91d47849f670a67df5cece73067d3#diff-6d186b954a58d5bb740f73d84fe39073R232)).

Why was this not considered a breaking change with a major version bump (despite @hueni

[2015-06-10 06:57] hueniverse commented on #7
@merrihew probably should have been but too late now. In general bug fixes are an exception to the major version rule but this was a case of unexpected impact. The hapi change does flag it with breaking changes label.

[2015-06-10 16:36] merrihew commented on #7
@hueniverse Agreed on the fact that it's already out in the wild, so too late to revert. Opens up an interesting semver discussion when a bug has existed for an extended period of time... in our case, we had taken steps to handle the payload "bug", therefore the "fix" actually created a new bug. There's no clear right or wrong way to handle that, and ultimately something we can just work around on

[2015-06-22 14:46] achingbrain opened #35 "Client IP address"
Is it possible to specify what the IP address of the client making the fake request should appear to be?

E.g. so we can control what `request.info.remoteAddress` is populated with.

[2015-06-22 16:20] mtharrison commented on #35
No, it's not possible to use Shot for that at the moment. The request that is passed to the listener isn't associated with a socket so hapi's (assumed your using hapi because you said `request.info.remoteAddress`) `Request` object has a empty string set as the `remoteAddress`:

https://github.com/hapijs/hapi/blob/master/lib/request.js#L114

[2015-06-22 21:41] hueniverse commented on #35
@achingbrain are you looking to simulate an ip address or try to get the current machine address? If you can provide a use case for the former, I could support that.

[2015-06-23 11:03] achingbrain commented on #35
@hueniverse I'm trying to simulate an IP address.

Our use case is that we have a Hapi API that contacts a downstream system.  The downstream system requires that we send the IP address of the client using our API as a header for auditing purposes.  We have sort-of-integration tests that use [nock](https://libraries.io/npm/nock) to stub the downstream system and `server.inject` to simulate incomin

[2015-06-23 11:42] hueniverse commented on #35
@achingbrain would you like to try and propose a code change via PR so we can review and consider?

[2015-06-23 12:03] mtharrison commented on #35
@achingbrain if you do make a PR, one thing to note is that hapi will bail out of processing a request if it has a `connection` property and the server isn't started:

https://github.com/hapijs/hapi/blob/master/lib/connection.js#L222-L226

So we might require a change over there too? Perhaps we can check for `Shot.isInjection(req)` or for the presence of the `end()` method.

[2015-08-04 07:19] #35 closed

[2015-08-04 13:56] mtharrison commented on #35
Once hapi is updated to shot v1.6.0 this feature will be available through `server.inject` with the `remoteAddress` option.

[2015-08-04 14:47] achingbrain commented on #35
That's awesome, thank you so much.

[2015-08-27 16:07] mtharrison opened #39 "Separate API docs"
As per: https://github.com/hapijs/contrib/issues/49

[2015-09-01 10:37] #39 closed

[2015-09-04 00:26] garthk commented on #29
Confirmed in Express 4.8.5 and 4.13.3. I'm working on an Express app, now, so here goes:

Installing `stackup` and working backwards from the crash, I'm intrigued at this from [finalhandler 0.4.0](https://github.com/pillarjs/finalhandler/blob/v0.4.0/index.js#L140):

[code]

`isFinished` and `onFinished` are from [on-finished](https://github.com/jshttp/on-finished/tree/v2.3.0).

The failing sequenc

[2015-09-13 21:05] mtharrison opened #42 "1.6.1"

[2015-09-13 21:06] #42 closed

[2015-09-16 19:13] jondlm commented on #8
I know this issue is really old, but here's the solution I came up with. It requires the use of the [form-data](https://github.com/form-data/form-data/) library.

[code]

[2015-09-17 02:24] garthk commented on #29
I don't think this is sufficient. It fixes the problem with `get` with query strings, but I'm still running into trouble posting bodies.

[2015-09-17 18:32] mtharrison commented on #8
@jondlm thanks for sharing your solution. Looks like a good way to do it to me. Pity you need to read the stream up yourself like that though, it would be a lot nicer if you can use a stream payload:

[code]

Unfortunately this doesn't work as shot will `JSON.stringify()` the stream.

@hueniverse what's your opinion on Shot allowing stream objects for payloads, in the same way wreck does?

[2015-09-17 18:58] hueniverse commented on #8
I am ok with being able to provide a payload stream.

[2015-09-17 19:58] jondlm commented on #8
@mtharrison yeah, I tried that at first as well, but ran into problems as you said. That would be sweet, but not a show stopper obviously. It was a good opportunity for me to brush up on the various streams apis.

[2015-09-24 18:12] hueniverse opened #43 "host header is not always set"
Add a default `'localhost'` when no header is provided and URI does not include a host component.

[2015-09-24 20:18] #43 closed

[2015-09-24 20:23] hueniverse commented on #43
Milestone?

[2015-10-05 22:28] hueniverse opened #46 "Add authority option for overriding default host header"
This is needed to avoid moving the entire host login to hapi. I named it authority vs. host because I think host will confuse people with the headers options.

[2015-10-05 22:30] #46 closed

[2015-10-29 21:58] mtharrison opened #50 "Update lab to 7.x.x"

[2015-10-29 22:00] mtharrison opened #52 "Node >= 4 / es2015 updates"
Summary of changes required:

use strict
const and let where appropriate
arrow functions where appropriate
relevant updates to tests + docs
updating the engine in package.json

[2015-10-29 22:06] mtharrison opened #53 "Allow shot to support stream payloads"

[2015-11-02 05:45] #50 closed

[2015-11-02 18:09] #52 closed

[2015-11-02 18:13] hueniverse opened #55 "Fix broken tests"

[2015-11-02 18:15] #55 closed

[2015-12-28 20:55] hueniverse opened #56 "Trailers should be added to res.trailers, not res.headers"

[2015-12-30 06:51] #56 closed

[2015-12-30 08:34] mtharrison opened #59 "Update README with ES6 styles"

[2015-12-30 08:36] #59 closed

[2015-12-31 08:56] #29 closed

[2016-01-09 08:41] hueniverse opened #62 "Setting Host header via uri.host ignores HTTPS default port"

[2016-01-09 11:16] mtharrison commented on #62
So using URL of `https://example.com` should yield host header of `example.com:443`? Most clients seem to strip this default port for HTTP and HTTPS in host header.

Or did I misunderstand the issue?

[2016-01-09 23:11] hueniverse commented on #62
Yes, we should be explicit.

[2016-02-01 19:01] crashuniverse opened #64 "shot should allow to make a http request without headers key"
shot makes some vague assumptions about headers.

At https://github.com/hapijs/shot/blob/master/lib/request.js#L35-L36 it seems shot will always make a request with a blank header object or with ones given in options. `http` doesn't mandate to always have a `request header`. So it makes it a valid use case to have a request without any headers at all, which is why we should, in server side code, c

[2016-02-02 00:00] hueniverse commented on #64
First, what are you using shot for? If its not as part of a hapi project, we don't care (don't mean to be rude, just that this module is exclusively for hapi internal usage like most hapi modules).

Second, HTTP 1.1 does require some headers like host and date.

[2016-02-09 00:09] #62 closed

[2016-03-23 15:33] antony opened #66 "Make shot validate options passed to it using JOI"
Just wasted a good half day because I was passing:

[code]

My own fault, but since I'm an avid Hapi user where everything is sieved through JOI - wish there'd been a warning!

[2016-03-23 16:23] #64 closed

[2016-04-13 00:06] pygeek commented on #53
+1

[2016-05-24 22:17] #53 closed

[2016-07-28 19:11] hueniverse opened #72 "npmignore"

[2016-08-22 08:58] #72 closed

[2016-08-23 05:17] hueniverse opened #74 "Include statusMessage"

[2016-08-23 05:19] #74 closed

[2016-08-26 08:36] #66 closed

[2016-08-26 21:36] hueniverse opened #75 "Cleanup validation and make it optional"

[2016-08-26 21:36] #75 closed

[2016-09-01 11:59] mtharrison opened #77 "Support streams of buffers as payload"

[2016-09-06 17:24] devinivy opened #78 "Add option to not read response into buffer, instead pass-through as stream"
I'm interested in receiving a response payload as a stream and handling that stream myself.  Currently the entire response payload is read into a buffer, which I'm trying to avoid in order to keep memory in check.  I'm happy to explain my use-case if necessary.

A nice property of this feature is that shot could then be used a perfect passthrough, if you imagine the case that a request comes to a

[2016-09-06 20:12] hueniverse commented on #78
I am not ruling this out, but show is basically a hack around node's HTTP objects. It's playing games with the internal state to grab what it needs. I personally have no intention of revisiting this code and any change to it will require significant review because it has been a very stable hack for a long time. The most effective way to optimize this is to actually stop using shot and instead let

[2016-09-07 03:57] devinivy commented on #78
Yeah, I see how this is a finicky area of the hapi codebase.  If we are interested at all in going down this path, ServerResponses do at least write to the socket as though it's just a duplex stream, and that "socket" may be set with `assignSocket()`– it appears it has worked that way for years.  The only reason we even get the `output` buffer currently used by shot is because no socket is assigne

[2016-09-08 22:52] mtharrison commented on #78
@devinivy what would that stream look like in your mind? Would it be (1) just the raw socket? So all the headers, CRLFs and protocol stuff? Would it just be (2) the response body as a stream, in which case you'd still want shot to split off headers and provide them in object with headers, statusCode etc.

Or would it be (3) a full instance of `http.IncomingMessage` as if you were the client?

Just

[2016-09-09 03:29] devinivy commented on #78
I would expect it to be the response body– basically a replacement for shot's `payload` and `rawPayload`.  I tried the `assignSocket()` approach out, and it does seem to work.

[2016-09-09 23:12] #77 closed

[2016-09-18 22:25] jfhbrook opened #82 "Express breaks shot such that the callback never gets called"
Hi!

Unfortunately I don't have a minimum reproducing case, just the app I'm working on. I don't think anything I'm doing in the app right now is particularly controversial, and I'm not sure what things I would remove to rule out. But, at least, there's a working case:

https://github.com/jfhbrook/wzrd.in/tree/782ac0dfa02df7ee245f1f04cb1a3a53100804af

(Requires docker to run.)

This code does a lo

[2016-09-18 23:21] mtharrison commented on #82
I tried to run your example but got the following error:

[code]

Can you make a mini example showing if this is the issue? It will be a lot easier for us to debug that way.

[2016-09-18 23:22] jfhbrook commented on #82
oh wow, I didn't actually expect you to be willing to do this!

But yes, there's an init step that builds the image locally. You can run it with `./bin/wzrdin bootstrap`. After that, 'npm test' and 'npm start' should work largely as expected.

Sorry for the confusion!

[2016-09-18 23:47] jfhbrook commented on #82
I made a branch where I'm starting to try and remove things: https://github.com/jfhbrook/wzrd.in/tree/failing-shot-tests This stubs out the underlying logic/code with a Promise.resolve so I'm certain it's not the underlying "bundler" code.

You can run that test with `node ./test/int-singular.js`.

I'll see if I can make a smaller example, in the meantime.

[2016-09-18 23:57] jfhbrook commented on #82
I succeeded in narrowing this down quite a bit! https://github.com/jfhbrook/wzrd.in/blob/failing-shot-tests/test-shot.js

which was generally a good move, because I think this is ultimately related to some [dirty tricks I forgot I was playing with request logging](https://github.com/jfhbrook/wzrd.in/blob/failing-shot-tests/middlewares/request-logger.js#L12-L17). I'm not 100% on what I'm doing here

[2016-09-19 00:04] jfhbrook commented on #82
Problem though: I was able to remove the request logging and still reproduce!  Current case:

[code]

"responded" doesn't get called.

[2016-09-19 00:05] jfhbrook commented on #82
Express version is 4.14.

[2016-09-19 09:08] mtharrison commented on #82
The problem is that Express overwrites the response prototype [here](https://github.com/expressjs/express/blob/master/lib/middleware/init.js#L29) meaning that the overrides done by Shot are lost.

[2016-09-19 11:24] devinivy commented on #82
@mtharrison if I were you I wouldn't touch it.  Express has a hard time working with some http/2 libraries for the same reason, and my understanding is that they'll change their approach for express v5.  See https://github.com/expressjs/express/issues/2761.

Looking a little closer, in the checklist for v5 (https://github.com/expressjs/express/pull/2237) I see,

[2016-09-19 12:10] mtharrison commented on #82
@devinivy thanks for sharing that

[2016-09-19 12:32] devinivy commented on #82
No problem!  Also, you can disregard my "if I were you" business.  I think whatever choice you make will be 👍 , but it is at least on express's radar that they need to adjust their approach for better interop.

[2016-09-19 15:27] jfhbrook commented on #82
Oh, I see! Great detective work!

I agree that if express is the one misbehaving, that the fix should ultimately live in express. That said, this leaves me (and anyone else using express, which is a lot of people) in a lurch until I can upgrade to whatever hypothetical version of express fixes this.

I can float a patch on my own version of shot if I have to, but maybe the right approach is to add

[2016-09-19 16:43] mtharrison commented on #82
I'd like to help but I'd prefer the workaround for it was outside of Shot. Something we could do is perhaps export Shot's response object and let you restore the prototype yourself in a middleware, e.g.:

[code]

[2016-09-19 17:41] jfhbrook commented on #82
That's awful UX though.

[2016-09-19 17:42] jfhbrook commented on #82
Like I said, I'm okay maintaining my own forked codebase for now. But telling users of express they're SOL and need to write 20 lines of response-punching code in order to use your library, well, *my* advice is to eat it.

[2016-09-19 17:47] jfhbrook commented on #82
One idea is to add a method that causes shot to run the fixit behavior, something like, `shot.fixDumbStuffInExpress()` that modifies behavior. That way you at least feel like you're making it clear to users that it's express's fault.

[2016-09-19 17:53] jfhbrook commented on #82
(I guess I could wrap/fork/publish my own copy of shot with the fix too...)

[2016-09-19 18:05] devinivy commented on #82
We don't tell each other to "eat it" in this community.  This is open software that you're welcome to hack on, use, fork, etc., and @mtharrison is being more than helpful with time that he owes to none of us– please be respectful of that.

I doubt that @mtharrison has any particular desire to make it clear whose fault it is that shot and express don't interoperate out of the box.  A fix could live

[2016-09-19 18:21] hueniverse commented on #82
@jfhbrook to be perfectly clear - I don't care at all about people using shot with Express. Shot is designed and maintained exclusively for use with hapi. If it works for you with other frameworks, great. But all I care about is hapi.

[2016-09-19 18:34] mtharrison commented on #82
I think it's clear what are feelings are on this.

If the other suggestions here don't work for you, go for it.

[2016-09-19 18:34] #82 closed

[2016-09-19 18:38] devinivy commented on #82
I would personally vote for a shot wrapper if that's possible!
[code]

[2016-09-19 18:48] jfhbrook commented on #82
I think you misunderstood me. I was referring to eating a meal you don't enjoy, not, well, something much more rude. I'm not *that* punk rock.

[2016-09-19 19:04] devinivy commented on #82
Haha, I can appreciate that!  Even so, the overall tone made me feel badly because it sounded like Matt had somehow wronged you when he hadn't, and provided help that did little more than punch your response object.  Anyways, my impression is that we're cool 😎.  I also realize you're plenty familiar with maintaining open software that's used by many people with their own various concerns/issues.

[2016-11-29 01:39] hueniverse opened #83 "Update deps"

[2016-11-29 01:40] #83 closed

[2017-03-10 04:25] devinivy commented on #82
Just wanted to follow-up to share that I've created a tool that will help you use shot with express.  It involves mounting your express app to a hapi server then calling `server.inject()`.  Or you can peek the approach taken in the code and use it as you wish!

https://github.com/devinivy/hecks

[2017-03-21 08:03] hueniverse commented on #78
Still active?

[2017-03-21 08:13] mtharrison commented on #78
@devinivy still something you think would be useful?

[2017-03-22 01:14] devinivy commented on #78
I'm still into it and would be happy to help move it along or write some code– I realize it's a non-trivial amount of work.  I have my own purposes, but it would also be great if `server.inject()` supported it.  I guess if there's no interest there, it might not be as worthwhile.

[2017-05-30 04:19] mtharrison commented on #78
@devinivy sure, I can't speak for whether it will be supported into `server.inject()` but I can see the value in it. Feel free to propose something. Sorry it's taken me a while to get back to you.

[2017-08-06 14:56] nxmohamad opened #86 "command failed with exit code 1 when running Jest test using server.inject"
I have a GET /tags route that returns a JSON object, and I'm trying to test it using Jest and server.inject.

This is my first time using server.inject. On this note I am actually not sure whether this falls under shot or just hapi as I don't actually require Shot.

This is my test file:
[code]

When running it, the result is this:
[code]
The test fail part is understandable (thought I'm not sure

[2017-08-06 17:46] hueniverse commented on #86
Your test server is returning 404 which means the route is not found. No one can help you with this because the problem is in your code...

[2017-08-06 17:46] #86 closed

[2017-08-06 19:59] nxmohamad commented on #86
@hueniverse but is it supposed to make it exit straightaway? instead of leaving my test in watch mode?

[2017-08-07 08:18] hueniverse commented on #86
I never used jest.

[2017-08-07 14:10] nxmohamad commented on #86
sorry for that. I was trying to do too many things at once. Should have asked this in Jest instead of here. Thank you for your time.

[2017-09-28 06:14] hueniverse opened #88 "Update deps"

[2017-09-28 06:15] #88 closed

[2017-10-04 07:47] hueniverse opened #89 "Replace instanceof with symbol"

[2017-10-04 07:47] #89 closed

[2017-10-22 08:34] hueniverse opened #90 "Update joi"

[2017-10-22 08:34] #90 closed

[2018-01-10 13:14] devinivy commented on #78
I found some time to create a proof of concept.  I opted to keep things feeling similar, whether you're streaming or not.

`Shot.inject()` takes a new `stream` option that, when `true`, causes `Shot.inject()` to a resolve an object with identical properties to its typical return value (`raw`, `statusCode, `headers`, `trailers`, etc.).  But this object is also a readable for the response.  When the

[2018-08-23 11:54] robinvdvleuten opened #96 "Add cookies to response"
It would be very nice to have an object of all parsed cookies available on the response object. I can make a PR for this if you like.

[2018-08-23 12:31] mtharrison commented on #96
I don't this really belongs in shot. Can you explain a bit maybe about your use case?

[2018-08-23 12:39] robinvdvleuten commented on #96
Sure! I am testing out the `validateFunc` function of the `hapi-auth-cookie` strategy. I found out that the only way to do that is to do something like this;

[code]

It would be nice though if I do not have to parse the cookies myself but get them from shot's response by name.

[2018-08-23 18:03] hueniverse commented on #96
Doesn't belong in shot. Easy enough to do write a utility for.

[2018-08-24 04:56] mtharrison commented on #96
Going to close this. Shot is pretty low level by intention, it gives you the response headers so you can extract cookies easily from that.

[2018-08-24 04:56] #96 closed

[2018-09-28 09:17] SimonSchick opened #97 "Examples and documentation are outdated"
They still refer to v3 of shot (callback based).

[2018-10-11 06:26] lpinca opened #98 "Publish new version to npm"
Hi,
is it possible to cut a new release with https://github.com/hapijs/shot/commit/beeaca8322a4f7cd5469e2d40a1e9f07c6956393 to silence the deprecation warnings? Thank you.

Refs: https://github.com/nodejs/citgm/issues/605

[2018-11-01 18:51] #98 closed

[2018-11-01 18:57] hueniverse opened #100 "Update deps"

[2018-11-01 18:59] #97 closed

[2018-11-01 18:59] #100 closed

[2018-11-01 19:06] SimonSchick commented on #97
❤️

[2018-11-03 00:06] hueniverse opened #101 "Remove engines"

[2018-11-03 00:36] #101 closed

[2018-11-11 04:40] hueniverse commented on #78
2 years later, I'm going to close this...

[2018-11-11 04:40] #78 closed

[2018-12-24 07:43] Gowtham-Selvam opened #104 "req.resume is not a function"
finalhandler throws error saying req.resume is not a function. Error is coming from index.js inside the
finalhandler folder of node_modules.

![capture](https://user-images.githubusercontent.com/16915695/50393670-c2156800-077d-11e9-969e-6889b8dd3236.PNG)

[2018-12-26 21:11] mtharrison commented on #104
Closing as this doesn't seem related to shot.

[2018-12-26 21:11] #104 closed

[2019-03-25 07:08] hueniverse opened #105 "Commercial version of v3 branch"

[2019-03-25 16:19] #105 closed

[2019-04-02 05:57] hueniverse opened #106 "Change module name"

[2019-04-02 05:57] #106 closed

[2019-04-04 21:04] alexdrean opened #107 "Publish v3.5.0"
Hi,

Version 3.5.0 has not been published to npm.
[See here](https://www.npmjs.com/package/shot) -> "versions"
This causes my `npm install` to fail:
`npm ERR! 404 Not Found: shot@https://registry.npmjs.org/shot/-/shot-3.5.0.tgz`

Thank you.

[2019-04-05 23:53] hueniverse commented on #107
There is not going to be an open source version of 3.x. It is only available under a commercial license:

https://www.npmjs.com/package/@commercial/shot

Version 4 is available under an open source license while it is under active support per hapi support policies.

[2019-04-05 23:53] #107 closed

[2019-05-07 06:30] yonjah opened #108 "Node V12 deprecation warning [DEP0066] OutgoingMessage.prototype._headers is deprecated"
When using latest hapi (v18.3.1) and shot (v4.1.0) with Node V12 a [deprecation warning](https://nodejs.org/api/deprecations.html#deprecations_dep0066_outgoingmessage_headers_outgoingmessage_headernames) is thrown from [response.js:18](https://github.com/hapijs/shot/blob/master/lib/response.js#L18)  -

[code]

[2019-05-19 17:35] hueniverse commented on #108
Will take a bit to get to all these in the org.

[2019-05-25 02:21] SimonSchick commented on #108
@hueniverse would version detection ala `process.version.startsWith('v8.')` be an acceptable solution here?

[2019-08-13 20:58] #108 closed

[2019-08-14 06:10] greenkeeper[bot] opened #111 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-14 21:31] #111 closed

[2019-09-12 23:16] hueniverse opened #112 "Update joi"

[2019-09-12 23:17] #112 closed, assigned to hueniverse

[2020-01-08 21:15] hueniverse opened #120 "Only node 12"

[2020-01-08 21:17] #120 closed

[2020-04-18 17:03] achingbrain opened #121 "Simulate 'disconnect' event?"
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise): Community
* *is this issue currently blocking your project?* (yes/no): No
* *is this issue affecting a production system?* (yes/no): No

#### Context

* *node version*: 12
* *module version*: 5.0.0
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application,

[2020-05-15 19:21] hueniverse commented on #121
That's not supported.

[2020-05-15 19:21] #121 closed

[2020-05-18 09:38] achingbrain commented on #121
That's certainly what I observed. Would you accept a PR that adds support for it?

[2020-05-20 19:59] hueniverse commented on #121
Sorry but no. hapi core dones't listen to a `disconnect` event on the request/response stream so there is no need for it.

[2020-05-21 13:46] achingbrain commented on #121
I'm using hapi for RPC-over-HTTP and have low-level components that can create long-lived resources in response to user requests - I'm trying to signal to those components that the result of the operation is no longer required so they can tear down anything they've created within the context of the request.

At the moment I'm listening for a `disconnect` on the incoming HTTP request (which as I un

[2020-05-21 21:07] hueniverse commented on #121
@kanongil ideas?

[2020-06-29 20:47] hueniverse opened #122 "Support node 12"

[2020-06-29 20:53] #122 closed

[2020-07-19 13:45] neenhouse opened #125 "Improved injected request detection"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: any
* *module version*: >= 4.0.2
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi
* *any other relevant information*:

#### What problem are

[2020-07-19 16:18] Marsup commented on #125
The root problem is that you have 2 versions of shot, why is that?

[2020-07-20 13:48] neenhouse commented on #125
The situation where this occurs is:

- Team A maintains a hapiJS server
- Team B maintains a hapiJS plugin

Team B maintains an encapsulated feature (security check) that has a piece of logic needs injection detection logic.

The problem is that Team B does not have control over how Team A manages their `package.json` versions.  Team B is responsible for making sure their feature works 100% of the

[2020-07-20 16:35] hueniverse commented on #125
The server knows when a request was injected. If this is a teal use case the solution is to expose that information by the server.

[2020-07-20 18:15] neenhouse commented on #125
The specific issue is the team that manages the server code that knows the request is injected is separate from the team that manages the code of the plugin.  The server team could expose a piece of information that request as injected, but thought it would be more first class to simply use the underlying abstraction (Shot) to identify itself as injected versus coming up with a convention / contra

[2020-07-20 18:34] hueniverse commented on #125
My point is that hapi itself could provide that information.

[2020-07-20 18:54] neenhouse commented on #125
Got it, that would be excellent if the server framework itself was aware of a request being injected.  I'm not clear yet on what the proposed implementation would be, thinking through that...

[2020-07-20 21:13] neenhouse commented on #125
Alright, so proposal might look like adding a new method on the `Server` [class prototype](https://github.com/hapijs/hapi/blob/63352fabc1bdb59f1cf231c0180e20c105d5c458/lib/server.js#L573) that looks something like this:

[code]

This would guarantee unique reference between Shot's creating of the Request instance and the check would be fully consistent in any scenario.

@hueniverse if you think th

[2020-07-20 21:32] devinivy commented on #125
We could also just add this as a property on request objects: `request.isInjected`, as I think you were recommending in your original approach.  We already do something similar on injected auth credentials.  I am going to move this issue over to the main hapi repo for further discussion, since it sounds like we generally agree that's where this feature should live if it's going to be implemented.

[2020-07-21 15:37] MylesBorins opened #128 "Test suite failing on Node.js v14.6.0"
This is due to new global variables that are unknown to lab

I've opened a PR to fix this -> https://github.com/hapijs/lab/pull/981

Until this is fixed we are skipping shot on v14.x in CITGM https://github.com/nodejs/citgm/pull/813

Once the upstream lab fix has landed and shot has been fixed we can revert that change on CITGM

[2020-07-22 02:57] cjihrig commented on #128
`@hapi/lab@22.0.5` was published with https://github.com/hapijs/lab/commit/0a5adf0d56d7aa118410a28afc51d922e172196a. The `shot` CI is [now passing](https://travis-ci.org/github/hapijs/shot/jobs/710214180) on Node v14.6.0.

[2020-07-22 02:57] #128 closed

[2020-07-22 20:16] MylesBorins commented on #128
shot has been re-enabled on citgm

On Tue, Jul 21, 2020 at 10:57 PM Colin Ihrig <notifications@github.com>
wrote:

[2020-07-28 21:28] MylesBorins commented on #128
Hey @cjihrig shot is still failing in CI because the lab update hasn't landed in a release (at least that is my assumption). Are you planning a release soon or should we remove shot from CITGM for the time being?

[2020-07-28 21:32] cjihrig commented on #128
Any chance you're running into caching issues? The lab change was published as 22.0.5, and shot relies on 22.x.x. Can you verify that CITGM is testing against lab 22.0.5?

[2020-07-28 21:58] MylesBorins commented on #128
Unsure if it is a caching thing... I just reproduced locally with ` npx citgm -v verbose shot`

I was also able to reproduce in a clone of the shot repository with a fresh npm install

[2020-07-28 22:04] cjihrig commented on #128
`npx citgm -v verbose shot` doesn't work for me locally. I get this warning:

[code]

I did a fresh clone with a fresh npm install, and it worked fine for me. Can you run `npm ls @hapi/lab`:

[code]

[2020-07-28 22:14] MylesBorins commented on #128
I flushed my cache and removed a local package-lock.json and managed to get
it working... so indeed it sounds like a caching issue in CITGM.

On Tue, Jul 28, 2020 at 6:04 PM Colin Ihrig <notifications@github.com>
wrote:

[2020-07-28 22:15] cjihrig commented on #128
Cool. FWIW, we are due to publish a new major version of `lab` and a new patch version of `shot`. Those should be out tonight or tomorrow.

[2020-12-08 16:41] cvbuelow opened #136 "Missing npm version for latest commits in v3 branch"
Looks like `v3.5.1` has not been published to npm yet. Can you do that?
[code]
I need this so I can take advantage of https://github.com/hapijs/shot/issues/122

[2020-12-08 17:24] cjihrig commented on #136
Sorry, but the v3 branch is long deprecated. Please update to a newer version.

[2020-12-08 17:24] #136 closed

[2020-12-08 17:37] cvbuelow commented on #136
I realize that. But upgrading to a newer version requires upgrading hapi, which is not that easy in our case. Should be pretty easy for you to run `npm version 3.5.1`

[2021-10-22 18:47] ghost opened #142 "Is there any way to test if a param is passed to a route in Hapi using shot?"
Hello, I am using HapiJS to create an API, and I am applying TDD methodology. I am creating the route for users, and I want to test a GET petition with params.

[code]
I know I have to test the request, because it is who owns the params property, but I can only do that with Joi. I would like to be able to implement request testing logic without having to pass a validator. It's possible?

[2021-10-23 22:18] #142 closed, assigned to nobody